.footer {
  background-color: var(--surface-dark);
  padding: 0rem 2rem;

  border-radius: 1rem;

  box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 12rem;
}

.footer-heading {
  padding-top: 2rem;
  color: var(--white);
  margin-bottom: 2rem;
}



.footer-text {
  color: var(--light-gray);
  font-size: var(--font-xsmall);
  line-height: 1.8;
  width: 80%;
  margin: 0 auto 3rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.icon-footer {
  font-size: 3.8rem;
  display: inline-block;
  color: var(--light-gray);
  transition: color 0.3s, transform 0.3s;
}

.icon:hover {
  color: var(--orange);
  transform: scale(1.1);
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* FIXED */
  font-size: 2rem;
  text-decoration: none;
  color: var(--light-gray);
  transition: color 0.3s, transform 0.3s;
}



.mail-icon {
  font-size: 2.4rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-footer:hover {
  color: var(--orange);
  transform: scale(1.1);
}