

.project {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50rem;
  margin: 9.6rem 0;
}
.project:nth-child(2) {
  margin-top: 0
}



.project-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
    width: 70%;
  aspect-ratio: 16 / 9;        /* Keeps correct shape */
    border-radius: 10px;
  filter: brightness(0.75);
}
.project-section {
 padding: var(--huge-spacing) 0;
}


.project-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width:45%;
  padding: 2.75rem;
  background-color: var(--surface-dark);
  color: var(white);
  padding: 3rem;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(812px);
}




.project-title {
  font-size: var(--font-small);
  line-height: 1.2;
  font-weight: bold;
  color: var(--white);
}



.project-description {
  color: var(--light-gray);
  font-size: var(--font-xsmall);
  line-height: 1.8;
}

.icon-small{
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
  color: var(--orange);
}


.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 1.5rem 0;
}

.tag-content {
  /* background-color: var(--surface-light);
  color: var(--very-dark-gray); */
  background-color: var(--very-light-orange);
  color: var(--surface-light);
  padding: 0.3rem 1.2rem;
  border-radius: 999999px;
 font-size: var(--font-xsmall);
  font-weight: 500;
}



.project-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.project-link {

  transition: all 0.3s ease;
}

.project-link:hover {
  opacity: 0.7;
    transform: scale(1.5);
}


.project.reverse .project-image {
  right: auto;
  left: 0;

  border-radius: 1.2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}

.project.reverse .project-content {
  margin-left: auto;
}




/* screen under 1300 px */
@media (max-width: 81.25rem) {



.project-section {
  padding-top: var(--huge-spacing);

}
.heading-secondary {
  margin-bottom: 2.8rem;
}
  .project-content {
    flex: 0 1 50%;
  }

.project{
   margin: 3.6rem 0;
}
}
/* screen under 1100 px */
@media (max-width: 68.75rem) {
.project-title{
  font-size: var(--font-xsmall);
}
.project-description {
  font-size: var(--font-xxsmall);
  line-height: 1.6;
}
.tag-content {
  font-size: var(--font-xxsmall);
}
.container{
  max-width: 90rem;
} 
.project-image {
width: 90%;

}
}

/* screen under 900 px */
@media (max-width: 56.25rem) {
  .container {
    max-width: 60rem;
  }
.heading-secondary {
     font-size: var(--font-small);
  }

.project-image{
  display: none;
  flex-grow: 0;
}
.project{
  min-height: auto;
}
  .project-content {
    width: 100%;
    padding: 2rem;
  }
  .project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .project.reverse .project-content {
    margin-left: 0;
  }

}


